::-webkit-scrollbar {
    width: 8px; /* width of the scrollbar */
}

::-webkit-scrollbar-track {
    background: #ff5722; /* color of the track */
}
::-webkit-scrollbar-track:hover {
    background: #1ed085; /* color of the track */
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888; /* color of the scrollbar */
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #1ed085; /* color of the scrollbar on hover */
}

.add__modal_button{
    padding: 8px 20px;
    border-radius: 8px;
    cursor: pointer;
}

.customModalSmall {
  background: #b2dbbf;
  max-width: 500px;
  width: 100%;
}
.customModallarge {
  background: #b2dbbf;
  max-width: 900px;
  width: 100%;
}

.active__Status{
  padding: 5px 17px;
  background-color: #1ed085;
  color: #fff;
  cursor: pointer;
}
.inactive__Status{
  padding: 5px 10px;
  background-color: #d0391e;
  color: #fff;
  cursor: pointer;
}

@keyframes customEnterOverlayAnimation {
    0% {
      transform: scale(0);
    }
    100% {
      transform: scale(1);
    }
  }
  @keyframes customLeaveOverlayAnimation {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(0);
    }
  }
  
  @keyframes customEnterModalAnimation {
    0% {
      transform: scale(0.2);
    }
    100% {
      transform: scale(1);
    }
  }
  @keyframes customLeaveModalAnimation {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(0.2);
    }
  }